.new-post {
	padding:16px 0;
	border-bottom: 1px solid #ccc;
}

.new-post header,
.post header {
	margin-bottom: 20px;
}

.posts .post {
	padding-left: 10px;
	border-left: 3px solid #a21b24;
	margin-bottom: 30px;
}
.posts .post .info {
	color: #aaa;
	font-style: italic;

}
.error, .success {
	text-align: center;
}
.error {
	border: 1px solid #ff0000;
	background-color: #f9b5af;
	color: #ff0000;
}
.error ul{
	list-style: none;
	margin:0;
	padding:0;
}
.success {
	border: 1px solid green;
	background-color: #d1f9da;
	color: green;
}

.badge_like {
	background-color: #337ab7 !important;
}

.like {
	margin-left: 10px;
	font-size: 20px;
	color: #a5a5a5;
	vertical-align: text-bottom;
}

.like_active {
	color: #337ab7;
}


.post-normal {
	color: black !important;
	font-size: 13px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: normal !important;
}